<nav class="navbar navbar-expand-lg navbar-light" style="color:white; background-color: rgb(209, 114, 6);"> 
  <h1
    style="
      font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
      text-shadow: 1px 1px black; margin-left: 50px;
    "
    href="/"
  >
    Shopper
  </h1>
  <button
    class="navbar-toggler"
    type="button"
    data-toggle="collapse"
    data-target="#navbarNav"
    aria-controls="navbarNav"
    aria-expanded="false"
    aria-label="Toggle navigation"
  >
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav" style="color: white;">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" routerLink="/productcontainer" style="color: white;">The safe way of fast shopping</a>
      </li>
    </ul>
  </div>
  <form class="form-inline my-2 my-lg-0">
    <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
    <button class="btn btn-outline-light my-2 my-sm-0" style="margin-right: 10px;" type="submit">Search</button>
    <a routerLink="/profile" style="color: rgb(255, 255, 255);"><i class="fa fa-user fa-2x"></i></a>
  </form>
</nav>