<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
  </head>
  <body>
    <main class="card">
      <section class="card__wallet">
        <div class="card__wallet--header">
          <h1>My Wallets</h1>
          <a href="#" class="add"></a>
        </div>
        <ul class="card__wallet--content">
          <li>
            <a href="#">
              <img
                src="https://tutuldevs.github.io/frontloops-photo/loop1/mastercard.svg"
                alt="master card"
              />
              <p class="password">*** *** *** 2562</p>
              <p class="validity">Valid thru: 12/17</p>
            </a>
          </li>

          <li>
            <a href="#" class="active">
              <img
                src="https://tutuldevs.github.io/frontloops-photo/loop1/mastercard.svg"
                alt="master card"
              />
              <p class="password">*** *** *** 2101</p>
              <p class="validity">Valid thru: 07/19</p>
            </a>
          </li>

          <li>
            <a href="#">
              <img
                src="https://tutuldevs.github.io/frontloops-photo/loop1/maestro.svg"
                alt="maestro card"
              />
              <p class="password">*** *** *** 3214</p>
              <p class="validity">Valid thru: 06/20</p>
            </a>
          </li>
        </ul>
      </section>

      <section class="card__balance">
        <div class="card__balance--header">
          <h1>Current Balance</h1>
          <h1 class="total">$729.<sup>00</sup></h1>
        </div>
        <div class="card__balance--box minus">
          <img
            src="https://tutuldevs.github.io/frontloops-photo/loop1/minus.svg"
            alt="minus sign"
          />

          <div class="item">
            <h1>Apple iPhone 7, 128 GB</h1>
            <p>Electronics #32343242 - 12 July 2019</p>
          </div>

          <h2>$650.<sup>00</sup></h2>
        </div>
      
      </section>
    </main>

    <br><br>
  </body>
</html>
