<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <div style="width: 100%">
      <iframe
        width="100%"
        height="900"
        frameborder="0"
        scrolling="no"
        marginheight="0"
        marginwidth="0"
        src="https://maps.google.com/maps?width=100%25&amp;height=600&amp;hl=en&amp;q=Yenibosna%20Merkez,%20Kuyumcukent%201,%20Plaza,%2034196%20Bah%C3%A7elievler/%C4%B0stanbul+(Aifa%20Soft)&amp;t=k&amp;z=14&amp;ie=UTF8&amp;iwloc=B&amp;output=embed"
        ><a href="http://www.gps.ie/">vehicle gps</a></iframe
      >
    </div>
  </body>
</html>
