
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <div class="container">
    <div class="row -spacing-a">
      <div class="col-md-12">
        <h1>Oğuzhan ÇART</h1>
      </div>
    </div>
    <div class="row -spacing-a">
      <div class="col-md-4">
        <div class="profile-image">
          <img src="https://assets.codepen.io/4118007/internal/avatars/users/default.png?fit=crop&format=auto&height=512&version=1612912528&width=512" >
          <div class="edit-profile-image">
          <span class="edit-profile-image__information">
            <span class="fa fa-camera"></span>
          </span>
        </div>
        </div>

      </div>
      <div class="col-md-8">
        <h5>Informationen</h5>
        <div class="row -spacing-b">
          <div class="col-md-3">
            <p class="-typo-copy">Username</p>
            <p class="-typo-copy">Surname</p>
            <p class="-typo-copy">Nickname</p>
            <p class="-typo-copy">Age</p>
            <p class="-typo-copy">E-Mail Adresse</p>
          </div>
          <div class="col-md-3">
            <p class="-typo-copy -typo-copy--blue">Oğuzhan</p>
            <p class="-typo-copy -typo-copy--blue">ÇART</p>
            <p class="-typo-copy -typo-copy--blue">Oguzhan_cart</p>
            <p class="-typo-copy -typo-copy--blue">30.08.2003</p>
            <p class="-typo-copy -typo-copy--blue">oguzhancart1@gmail.com</p>
          </div>
            <button class="btn" routerLink="/">🔙   Back to Dashboard page</button>
        </div>
      </div>
    </div>
  </div>
</body>
</html>
<app-footer></app-footer>
